$rose-light: #FCF5F5;
$rose-light-trans: rgba(252,245,245,0.7);
$rose-med-light: #FFE3E3;
$rose-med: #FFBCBC;
$rose-med-dark: #FFA2A2;
$rose-med-dark-trans: rgba(255,126,126, 0.8);
$rose-dark: #FF64A2;

$gray-light: #EDEAEA;
$gray-light-trans: rgba(237,234,234, 0.8);

$background-top-left: #E4E0CE;
$background-top-left-trans: rgba(224,222,203,0.9);
$background-bottom-right: #9F8283;
$background-bottom-right-trans: rgba(159,130,131,0.8);
$p-font-size: 120%;


nav.navbar {
	background-color: $background-top-left-trans;
	.navbar-header button {
		
	}
	.nav.navbar-nav {
		padding-top: 1.5%;
	}
}
html {
	a {
		color: #4434A6;
	}
	body {
	    background: url("../images/backgrounds/rose-top-eq.png"), $background-top-left;
	    background-repeat: no-repeat;
	    background-position: right bottom;
	    background-attachment: fixed;
	    background-size: 100%;
	    .sect1 {
	    	background-color: rgba(252,245,245,0.6);
		    p, h5 {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect2 {
	    	//color: #FFFFFF;
	    	background-color: rgba(235,149,231,0.7);//rgba(250,78,248,0.7);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect3 {
	    	//color: #FFFFFF;
	    	background-color: rgba(162,141,247,0.8);//rgba(72,33,242,0.7);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect4 {
	    	background-color: rgba(202,241,241,0.8);//rgba(62,237,243,0.7);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect5 {
    		//color: #FFFFFF;
	    	background-color: rgba(127,229,168,0.7); // rgba(4,200,88,0.7);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect6 {
	    	background-color: rgba(249,249,142,0.8); //rgba(250,253,55,0.7);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    .sect7 {
	    	//color: #FFFFFF;
	    	background-color: rgba(241,94,91,0.8);//rgba(249,4,4,0.6);
	    	p {
	    		font-size: $p-font-size;
	    	}
	    }
	    footer {
	    	height: 100px;
	    }
	}
}

.bold {
	font-weight: bold;
}

.sect-info {
	padding-top: 1%;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 1%;
	p {
		text-align: justify;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.info {
	padding-top: 100px;
}

.inline {
	display: inline-block;
}

.marg-top-m {
	margin-top: 30px;
}
.marg-s {
	margin: 10px;
}

.img-ss {
	height: 20px;
}

.img-s {
	height: 50px;
}

.img-m {
	height: 100px;
}

.img-l {
	height: 150px;
}

.img-xl {
	height: 200px;
}

@media (min-width: 768px) and (max-width: 994px) {
	.info {
		padding-top: 150px;
	}
}

@media (min-width: 440px) and (max-width: 768px) {
	.info {
		padding-top: 80px;
	}
	.navbar-default .navbar-toggle {		
	    margin-top: 26px;
	}
}

@media (min-width: 10px) and (max-width: 440px) {
	.info {
		padding-top: 120px;
	}
	#logo-l {
		width: 100%;
	}
	.navbar-default .navbar-toggle {		
	    margin-top: 0px;
	}
}